.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
/20089859/
*.jsonl
*.lines
/data/double-pretrained/1/testing/assertLines.txt
/data/double-pretrained/1/testing/testMethods.txt
/data/double-pretrained/1/training/assertLines.txt
/data/double-pretrained/1/training/testMethods.txt
/data/double-pretrained/1/validation/assertLines.txt
/data/double-pretrained/1/validation/testMethods.txt
/data/double-pretrained/2/testing/assertLines.txt
/data/double-pretrained/2/testing/testMethods.txt
/data/double-pretrained/2/training/assertLines.txt
/data/double-pretrained/2/training/testMethods.txt
/data/double-pretrained/2/validation/assertLines.txt
/data/double-pretrained/2/validation/testMethods.txt
/data/toga/assertions/testing.csv
/data/toga/assertions/training.csv
/data/toga/assertions/validation.csv
/data/toga/exceptions/testing.csv
/data/toga/exceptions/training.csv
/data/toga/exceptions/validation.csv
/test/
